* {
  box-sizing: content-box;
}
nav {
  background-color: white;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.253) !important;
}
nav a {
  margin: 5px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.blog-logo {
  margin-right: 20%;
  margin-left: 20%;
  font-size: xx-large;
  color: #1c7a96;
}
.home,
.add-post {
  color: #1c7a96;
}

.add-post:hover {
  text-decoration: underline;
}
.home:hover {
  text-decoration: underline;
}
