@import url('https://fonts.googleapis.com/css2?family=Asset&family=Monofett&display=swap');

.post {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 375px;
}

.img-title-container {
  position: relative;
  text-align: center; 
}

.img-title-container img {
  max-width: 100%;
  filter: brightness(70%);
}
.img-title-container:hover {
  text-shadow: 1px 1px 2px black;
}


.post-title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 95%;
  width: 95%;
  color: white;
  font-weight: 800;
  
  font-size: 3.5rem;
  overflow-wrap: break-word;


}



