.post-detail {
  display: flex;
  padding: 50px;
  align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  width: 50vw;
  padding: 10px;
}

.title {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px;
}

.content {
  padding: 20px;
  letter-spacing: .9px;
}

.post-detail-image-container {
  width: 40vw;
  margin: 0;
}

.post-detail-image {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.edit-button, .delete-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 30px;
  width: 90px;
  align-self: center;
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #CECECE;
  cursor: pointer;
  padding: 5px;
}

.edit-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .title {
      font-size: 32px;
  }
  .post-detail-image {
      width: 500px;
      margin-top: -100px;
      padding: 10px;
  }
  .post-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
  }
}

@media (max-width: 800px) {
  .post-detail-image {
      width: 300px;
      margin: 15px;
      padding: 10px;
      margin-top: 15px;
      
  }
  .post-detail {
      padding: 40px;
      margin: 0px; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  .button-container {
      display: flex;
      justify-content: space-evenly;
      padding-top: 0px;
      padding: 20px;
      padding-bottom: 80px;
  }
  .edit-button, .delete-button {
      width: 40%;
  }
}